.globalBtn{
    border-radius: 30px;
    font-size: 1rem;
    padding: 0.6rem 2rem;
    font-weight: 400;
    font-size: 0.9rem;
    background:rgb(67, 23, 23) ;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.globalBtn:hover {
    background:rgb(8, 126, 20) ;
    box-shadow: 0 0 25px rgb(8, 160, 23);
}