.subSection {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 213, 229);
    margin-top: 6rem;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 8px;
    inline-size: min(100%, 70rem);

}

.subContent {
    gap: 0.9rem;
    display: flex;
    flex-direction: column;
    max-inline-size: 38rem;
}

.subContent button {
    inline-size: fit-content;
    padding: 0.7rem 1.5rem;
}