.cardSection {
    margin-top: 4rem auto 0;
    padding: 0;
    gap: 3rem;
    display: flex;
    box-shadow: 8px 9px 9px -2px rgba(0, 0, 0, 0.3);
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;

}

.cardImgContainer img {
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;

}

.contentDiv {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.contentDiv button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 9rem;
}