.cardSection{
    background-color: white;
    height: fit-content;
    gap: 3rem; 
    display: flex;
    
}

.cardImgContainer img{
    height: 200px;
    width: 200px;

}

.contentDiv{
    width: 30%;
    
}