
.cardContainer{
    display: flex;
    gap: 5px;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item-card {
    border-radius: 14px;
    background-color: wheat;
    padding: 12px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.item-image{
    width: 200px;
    height: 200px;
    border-radius: 4px;
}