.sliderSection {
    padding: 0;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    inline-size: min(100%, 70rem);

}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    gap: 1rem;

}


.cardContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.5rem;
    flex: 1;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}


.item-card {
    border-radius: 30px 30px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    flex: 1;
    max-inline-size: 240px;
    min-block-size: 380px;
    padding: 1.5rem 1rem;
}

.item-image {
    inline-size: 180px;
    aspect-ratio: 1;
    object-fit: contain
}

.item-btn {
    inline-size: 80px;
    padding: .4rem;
    font-size: .8rem;
}

.icon-style-img {
    inline-size: 38px;
    block-size: 35px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    flex-shrink: 0;
}

@media (max-width:1024px) {
    .cardContainer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-card {
        flex: 0 1 220px;
    }

    .icon-style-img {
        display: none;
    }
}

@media (max-width: 768px) {
    .slider-container {
        flex-direction: column;
    }

    .icon-style-img {
        display: none;
    }
}

@media (max-width:480px) {
    .sliderSection {
        gap: 1.5rem;
    }

    .item-card {
        inline-size: 100%;
        max-inline-size: 150px;
    }

    .icon-style-img {
        display: none;
    }

    .item-image {
        inline-size: 150px;
    }


}