
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", "sans-serif";
    /* background: rgb(233,191,175); */
    color: rgb(27,70,60) ;
}

nav {
    width: 100%;
    padding: 1rem 9%;
    background: white;
    backdrop-filter: blur(15px);
    /* margin-bottom:2rem ; */
    border-bottom: 1px solid rgb(139, 139, 139);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); 

    display: flex;
    align-items: center;
    justify-content: space-between;

}



.navLinks{
    list-style: none;
    display: flex;
    gap: 5rem;
    margin: 1rem 4%;
}

.navLinks li a {
    position: relative;
    font-size: 1.15rem;
    font-weight: 600;
    text-decoration: none;
    color:rgb(27, 70,60);
    transition: 0.5s;
}

.navLinks li a:hover{
    color: rgb(8, 160, 23);
    text-shadow: 0 0 10px rgb(8, 160, 23) ;
}

.btns{
    
    display: flex;
    
}
.btn{
    border-radius: 30px;
    font-size: 1rem;
    padding: 0.6rem 2rem;
    font-weight: 400;
    font-size: 0.9rem;
    background:rgb(27, 70,60) ;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background:rgb(8, 126, 20) ;
    box-shadow: 0 0 25px rgb(8, 160, 23);
}
