.footer-section {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
    background: white;
    padding: 3rem 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    inline-size: min(100%, 70rem);
}

.sub-sec-1 {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    flex: 2;
    gap: 1rem;
}

.sub-sec-1 input,
.sub-sec-1 button {
    padding: 0.6rem 2rem;
    border-radius: 30px;
    border: solid 1px rgb(119, 119, 119);
    inline-size: 100%;
    max-inline-size: 320px;
}

.logo-text-div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.logo-text-div img {
    inline-size: 50px;
    block-size: 50px;
}


.sub-sec-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.sub-sec-2 ul {
    display: flex;
    flex-direction: column;
    gap: 0.5;
    padding: 0;
}

.sub-sec-2 li {
    list-style-type: none;
    color: #0E453D;
}

.social-icons {
    display: flex;
    gap: 0.4rem;
    flex: wrap;
    gap: 0.75rem;
}

.socialIcon {
    inline-size: 22px;
    block-size: 22px;
}

@media (max-width:900px) {
    .footer-content {
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
    }

    .sub-sec-1 {
        flex: 1 1 100%;
    }

    .sub-sec-2 {
        flex: 1 1 45%;
    }
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-section {
        padding: 2rem 1rem;
    }

    .sub-sec-1 input,
    .sub-sec-1 button {
        max-inline-size: 100%;
    }
}