.benefitSection {
    background-color: rgb(250,241,210);
    display: flex;
    gap: 5rem;
}

.icon-img-container{
    gap: 2rem;
    /* background-color: black; */
    height: 150px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly */
}

.icon-div{
    background-color: rgb(250,198,68);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.icon-img-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    width: 30px;
    height: 30px;
}

.centerImg{
    margin-bottom: 90px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0.5, 0.5, 0.5, 0.5);
}